[submodule "libultraship"]
	path = libultraship
	url = https://github.com/Team-Resurgent/libultraship.git
	branch = teamresurgent
[submodule "torch"]
	path = torch
	url = https://github.com/Team-Resurgent/Torch.git
	branch = teamresurgent
